@media (max-width:900px){

	.icon{
		
		display: none;
	}
	.azul{
		display: none;
	}
	.amarelo1{
	/*background-color: yellow;*/
	width: 100vw;
	height: 9vh;
	display: flex;
	align-items: center;
	}
	.amarelo2{
		font-size: 30px;
	}
	
}

@media (max-width:1100px){

	.srch{
		display: none;
	}
	.about{
		display: none;
	}

	.remover{
		display: none;
	}
	.central{
		margin-left: auto;
		margin-right: auto;
		font-size: 8px;
	}
}
