@media (max-width:767px){
.cel{
		
	}
	.ceo{
		width: 200px;
		height: 200px;
	}

	.carrin{
		flex-direction: column;
		border-right-style: none;
		font-size: 16px;
	}

	.imgcar{
		width: 110px;
		height: 110px;
	}

	.bord{
		border-bottom: solid 1px;
		border-color: black;
	}
}
@media (max-width:900px){

	.icon{
		
		display: none;
	}
	.azul{
		display: none;
	}
	.amarelo1{
	/*background-color: yellow;*/
	width: 100vw;
	height: 9vh;
	display: flex;
	align-items: center;
	}
	.amarelo2{
		font-size: 30px;
	}
		.ceo{
		max-width: 250px;
		max-height: 250px;
	}

	.carrin{
		flex-direction: column;
		border-right-style: none;
	}
}

@media (max-width:1100px){

	.srch{
		display: none;
	}
	.about{
		display: none;
	}

	.remover{
		display: none;
	}
	.central{
		margin-left: auto;
		margin-right: auto;
		font-size: 8px;
	}
	.login{
		flex-direction: column;
	}
	.risco{
		width: 1px;
		height: 0%;
		width: 45%;
	}

	.ceo{
		width: 400px;
		height: 400px;
	}


}
